<footer class="site-footer">
    <div class="footer-content">
      <div class="footer-block">
        <span class="ms-16 fw-medium fs-26" ><h2 href="/home" color="primary">CourseQuest</h2></span>
        <p>Discover software developers and Diversify the global tech sector </p>
      </div>
      <div class="footer-links">
        <div class="footer-column">
          <h4>For Talent</h4>
          <ul>
            <li><a href="#">Sign up for CourseQuest</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>For Companies</h4>
          <ul>
            <li><a href="#">Feature your Content</a></li>
            <li><a href="#">Develop your Team</a></li>
            <li><a href="#">Other Solutions</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>About CourseQuest</h4>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

        <div class="footer-column">
            <h4>Social Media</h4>
            <div class="social-icons">
              <a href="https://www.linkedin.com/yourprofile" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://www.facebook.com/yourprofile" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/yourprofile" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2025 CourseQuest | <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a></p>
    </div>
  </footer>