<div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" (input)="filterCourses()" placeholder="Search courses..." class="search-input" />
  </div>
  
  <div class="course-list">
    <div *ngFor="let course of filteredCourses" class="course-card">
      <div class="course-image">
        <img [src]="course.imageUrl" [alt]="course.title">
      </div>
      <div class="course-content">
        <h3>{{ course.title }}</h3>
        <p>{{ course.description }}</p>
        <button class="details-button" [routerLink]="['/course', course.id]">Details</button>
      </div>
    </div>
  </div>