.mat-toolbar {
    display: flex;
    justify-content: space-between; /* Aligns children to the left, right, and center respectively */
    align-items: center; /* Centers items vertically */
    padding: 0 10px;
    margin: 0;
    width: 100%; /* Ensures the toolbar stretches to full width */
    box-sizing: border-box; /* Optional: Adjusts the padding for visual spacing */
}

.toolbar-content {
    display: flex;
    align-items: center;
    width: 100%; /* Ensures the div takes full width of the toolbar */
    justify-content: space-between; /* Separates site name, navigation, and login button */
}

.ms-16 {
    margin-left: 16px;
}

.fw-medium {
    font-weight: 500; /* Medium font weight */
}

.fs-26 {
    font-size: 26px; /* 26px font size for the site name */
}

button.mat-raised-button {
    margin-left: auto; 
    padding: 6px 12px; /* Adjusted padding to be more typical for buttons */
    background-color: #fb9678 !important; /* Ensures this color takes precedence */
    color: #090909; /* Set text color to white for better readability */
}

.logo {
    height: 50px; /* Logo size */
}

.menu-items {
    display: flex;
    justify-content: center; /* Centers the navigation links */
    flex-grow: 1; /* Allows the navigation links to take up any extra space */
}

.menu-items a {
    margin: 0 10px; /* Horizontal spacing between links */
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits the text color from the parent element */
    font-size: 16px; /* Sets a specific font size */
}
