.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .dropdown-options {
    padding-left: 32px; // Indent the dropdown options
    list-style-type: none; // Remove bullet points
  
    .sidebar-menu {
      padding-left: 16px; // Add padding for better alignment
    }
  }