.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .dropdown-options {
    padding-left: 32px; // Indent the dropdown options
    list-style-type: none; // Remove bullet points
  
    .sidebar-menu {
      padding-left: 16px; // Add padding for better alignment
    }
  }
  .header-container {
    position: absolute;
    top: 20px; // Ajoute un espace de 20px depuis le haut
    right: 20px; // Place le bouton à droite avec une marge de 20px
    z-index: 1000; // Assure qu'il reste au-dessus du contenu
  }
  .user-menu {
    display: flex;
    align-items: center;
  }
  .xp-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 8px;
  }
  
  .xp-container i-feather {
    font-size: 16px;
  }
  