<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <div class="p-16">
      <div class="mb-16">
        <a routerLink="/" class="d-flex align-items-center">
          <img src="assets/images/favicon.png" alt="">
          <span class="ms-16 fw-medium fs-26">CourseQuest</span>
        </a>
      </div>

      <div class="pt-8">
        <ul>
          <li class="list-group mb-8" *ngFor="let sidenav of sidebarMenu">
            <!-- Main Button -->
            <a matRipple [matRippleColor]="'#f7f8f443'" (click)="toggleDropdown(sidenav)"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center" [ngClass]="{'active': isDropdownOpen(sidenav)} ">
              <i-feather name="{{ sidenav.icon }}" class="feather-base me-16"></i-feather>
              <span class="ps-4" style="cursor: pointer" routerLink="{{ sidenav.link }}" >{{ sidenav.menu }}</span>
              <!-- Dropdown Arrow -->
              <span *ngIf="sidenav.children" class="ms-auto">
                <i-feather [name]="isDropdownOpen(sidenav) ? 'chevron-up' : 'chevron-down'" class="feather-base"></i-feather>
              </span>
            </a>

            <!-- Dropdown Options -->
            <ul *ngIf="sidenav.children && isDropdownOpen(sidenav)" class="dropdown-options">
              <li *ngFor="let child of sidenav.children" class="list-group mb-8">
                <a matRipple [matRippleColor]="'#f7f8f443'" routerLink="{{ child.link }}"
                  class="sidebar-menu fs-16 w-100 d-flex align-items-center" [routerLinkActive]="routerActive">
                  <i-feather name="{{ child.icon }}" class="feather-base me-16"></i-feather>
                  <span class="ps-4">{{ child.menu }}</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Header avec bouton utilisateur -->
    <div class="header-container">
      <div class="user-menu">
        <button mat-button class="fs-16 pt-4 pb-4 ps-8 pe-8 text-light-muted d-flex align-items-center" [matMenuTriggerFor]="menu">
          <div class="d-flex align-items-center">
            <img src="assets/images/user2.webp" class="rounded-circle" alt="">
            <span class="fw-light ms-8 text-secondary">Hi,</span>
            <span class="fw-bold ms-8">{{admin.username}}</span>

            <!-- XP affiché à côté de Julia -->
            

            <i-feather name="chevron-down" class="feather-base ms-8"></i-feather>
          </div>
        </button>

        <mat-menu #menu="matMenu" class="profile-dropdown">
          <div class="p-16 mb-4">
            <button mat-menu-item class="fs-16" [routerLink]="['/admin/editprofile']" [queryParams]="{ tab: 'account' }">
              Account
            </button>
            <button mat-menu-item class="fs-16" [routerLink]="['/admin/editprofile']" [queryParams]="{ tab: 'password' }">
              Change Password
            </button>
            <button mat-menu-item class="fs-16" [routerLink]="['/admin/editprofile']" [queryParams]="{ tab: 'settings' }">
              My Settings
            </button>
          </div>

          <hr>

          <div class="p-16">
            <button mat-flat-button color="accent" class="w-100 text-white" (click)="logout()">
              Logout
            </button>
            </div>
        </mat-menu>
      </div>
    </div>
    <!-- Content -->
    <div class="body-wrapper">
      <div class="page-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
