<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <div class="p-16">
      <div class="mb-16">
        <a routerLink="/" class="d-flex align-items-center">
          <img src="assets/images/favicon.png" alt="">
          <span class="ms-16 fw-medium fs-26">CourseQuest</span>
        </a>
      </div>

      <div class="pt-8">
        <ul>
          <li class="list-group mb-8" *ngFor="let sidenav of sidebarMenu">
            <!-- Main Button -->
            <a matRipple [matRippleColor]="'#f7f8f443'" (click)="toggleDropdown(sidenav)"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center" [ngClass]="{'active': isDropdownOpen(sidenav)} ">
              <i-feather name="{{ sidenav.icon }}" class="feather-base me-16"></i-feather>
              <span class="ps-4">{{ sidenav.menu }}</span>
              <!-- Dropdown Arrow -->
              <span *ngIf="sidenav.children" class="ms-auto">
                <i-feather [name]="isDropdownOpen(sidenav) ? 'chevron-up' : 'chevron-down'" class="feather-base"></i-feather>
              </span>
            </a>

            <!-- Dropdown Options -->
            <ul *ngIf="sidenav.children && isDropdownOpen(sidenav)" class="dropdown-options">
              <li *ngFor="let child of sidenav.children" class="list-group mb-8">
                <a matRipple [matRippleColor]="'#f7f8f443'" routerLink="{{ child.link }}"
                  class="sidebar-menu fs-16 w-100 d-flex align-items-center" [routerLinkActive]="routerActive">
                  <i-feather name="{{ child.icon }}" class="feather-base me-16"></i-feather>
                  <span class="ps-4">{{ child.menu }}</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Header -->
    <mat-toolbar class="header ps-24 pe-24">
      <button type="button" class="ms-4" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <i-feather name="menu" class="text-light-muted feather-base mt-n3"></i-feather>
      </button>
      <button mat-icon-button class="ms-4 me-4" (click)="search=!search">
        <i-feather name="search" class="mt-n3 text-light-muted feather-base text-dark"></i-feather>
      </button>
 
    </mat-toolbar>

    <!-- Content -->
    <div class="body-wrapper">
      <div class="page-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
