.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.xp-container {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.xp-container i-feather {
  font-size: 16px;
}
