<div *ngIf="course" class="course-container">
    <div  class="course-header">
        <h2>{{ course.title }}</h2>
        <button class="enroll-button" (click)="enrollInCourse()" [disabled]="isEnrolled">
                {{ isEnrolled ? 'Already Enrolled' : 'Enroll' }}
        </button>
    </div>
    <p>Category: {{ course.category.title }}</p>
    <p>{{ course.content }}</p>
  
   
  
    <h3>Chapters</h3>
    <div class="chapter-list">
      <div *ngFor="let chapter of course.chapters" class="chapter-card" id="chapter-{{ chapter.id }}">
        <!-- Chapter Header with Toggle Button -->
        <div class="chapter-header" (click)="toggleChapter(chapter)">
            <div class="chapter-title-wrapper">
              <h4>{{ chapter.title }}</h4>
              <span class="chapter-score" *ngIf="chapter.score !== undefined">
                Score: {{ chapter.score }}
              </span>
            </div>
            <button class="toggle-button" [class.expanded]="expandedChapters.has(chapter.id)">
              <i class="fas fa-chevron-down"></i>
            </button>
        </div>
  
        <!-- Animated Chapter Content -->
        <div [@slideInOut]="expandedChapters.has(chapter.id) ? 'expanded' : 'collapsed'" 
             class="chapter-content">
          <p>{{ chapter.content }}</p>
  
          <div *ngIf="chapter.questions && chapter.questions.length > 0">
            <h5>Questions</h5>
            <div *ngFor="let question of chapter.questions" class="question-box">
              <p><strong>{{ question.question }}</strong></p>
              <input
                type="text"
                [(ngModel)]="userAnswers[chapter.id][question.question]"
                placeholder="Enter your answer"
              />
              <button class="question-button" (click)="validateAnswer(chapter.id, question)">
                Submit
              </button>
              <p *ngIf="feedback[chapter.id][question.question]">
                {{ feedback[chapter.id][question.question] }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>