<div class="search-container">
  <input type="text" [(ngModel)]="searchQuery" (input)="filterCourses()" placeholder="Search courses..." class="search-input" />
  <select [(ngModel)]="selectedCategory" (change)="filterCourses()" class="search-input category-select">
    <option value="">All Categories</option>
    <option *ngFor="let category of categories" [value]="category.title">{{ category.title }}</option>
  </select>
</div>

<div class="course-list">
  <div *ngFor="let course of filteredCourses" class="course-card">
    <a [routerLink]="['/user/courses', course.id]" class="course-link">
      <div class="course-image">
        <img [src]="course.mainimageurl" [alt]="course.title">
      </div>
      <div class="course-content">
        <h3>{{ course.title }}</h3>
        <p>{{ course.content }}</p>
      </div>
    </a>
  </div>
</div>